<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录中...</title>
</head>
<body>

<table cellpadding="0" cellspacing="0" width="400">
    <tr>
        <td><p align="center">用户名</p></td>
        <td><input type="text" name="username" value= "..."></td>
    </tr>
    <tr>
        <td><p align="center">密　码</p></td>
        <td><input type="password" name="password"></td>
    </tr>
    <tr >
        <td colspan="2">
            <p align="center"><input type="submit" name="Submit" value="登录">
                <input name="register" type="button" value="注册" onclick=""></p>
        </td>
    </tr>
</table>
</body>
</html>